
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table align="right">
        <tr>
            <td><input type="button" name="mLogut" value="Logout" /></td>
            <td><input type="button" name="mProfile" value="Profile" /></td>
        </tr>
    </table>

    <div>
        <h1>Welcome</h1>

        <p>We are providing several services bellow.You can chose any facilitis which are providing. If You have any queray or have plroblem please kindly report us.Our team always ready to work any difficulities satages.</p>
    </div>

    <div>

        <input type="button" name="OrderButton" value="Go here to order" /><br /><br />
        <input type="button" name="RequestrButton" value="Go here to Any Request" /><br /><br />
        <input type="button" name="ActivityButton" value="Activity" /><br /><br />
        <input type="button" name="NoticeyButton" value="Notice" /><br /><br />
        <input type="button" name="BillyButton" value="Pay Bill here" /><br /><br />
        <input type="button" name="DataButton" value="See here Visualization of tour data" />
    </div>






</body>

</html>
