@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}



@* <img src="~/Content/images/2201.w015.n001.672B.p15.672.jpg" alt=""> *@

<div class="showcase">
    <div class="container">
        <div class="info">
            <h2>Welcome To Easy Hostel</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo rerum inventore itaque dolorum
                alias
                nemo eveniet doloribus dolor molestiae!
            </p>
            <br>
            <a href="/Home/MemReg" class="btn btn-signup">Sign Up</a>

        </div>
        <div class="showcase-img">
            <img src="~/Content/images/undraw_apartment_rent_o-0-ut.svg" alt="">
        </div>
    </div>
</div>